.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  padding: 20px;
}

.login-container .card {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
}

.login-container h2 {
  color: #71c8f0;
  font-weight: bold;
}

.login-container h2 i {
  font-size: 1.8rem;
}