.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.loading-container .spinner-border {
  width: 3rem;
  height: 3rem;
}

.loading-container p {
  color: #6c757d;
  font-weight: 500;
}